@import "variables";

body{
  background-image: url(../img/fondo2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding:0;
  opacity: 1;
  // position: relative;
}

#menu{
  height: 100vh;
  img{
    width: 75%;
    margin-left: 5vh;
    margin-top: -15vh;
  } .botonesMenu{
    width: 35vh;
    height: 35vh;
    padding: 1vh;
    margin:0;
    transform: rotate(45deg);
    border-radius: 1vh;
  }h4{
    transform: rotate(315deg);
    color: #fff;
  }.rojo{
    background: none;
    border: 1vh solid$red-color;
    margin-left:56vh;
    &:hover{
        background: $red-color;
    }
  }.azulUno{
    background: none;
    border: 1vh solid$blueOne-color;
    margin-left: 57vh;
    &:hover{
        background:$blueOne-color;
    }
  }.rosaContorno{
    margin-left:58vh;
    border: 1vh solid$pink-color;
    background:none;
    &:hover{
      background: $pink-color;
    }
  }.azulDos{
    margin-top:-11.9vh;
    margin-left:-1.9vh;
    background: none;
    // background: #8FC2CE;
    border: 1vh solid$blueTwo-color;
    &:hover{
      background:$blueTwo-color;
    }
  }.rosaDos{
    // padding-top:vh;
    margin-top:13.6vh;
    margin-left: -26.6vh;
    background: none;
    border: 1vh solid$pink-color;
    &:hover{
      background:$pink-color;
    }
  }.rosasAbajo{
    margin-left:81.7vh;
    margin-top:-12vh;
  }
}

#aboutMe{
  background-image:url(../img/fondoFranjas.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 22vh;
  width: 100%;
  height: 180vh;
  border-radius: 5px;
  #aboutImage{
    width: 100%;
    margin-left: 55vh;
    margin-top:15vh;
  }#presentation{
    width: 100%;
    margin-top: 45vh;
    margin-left:90vh;
    font-size: 6vh;
    color: #fff;
    font-family: $font-family;
  }#paragraphPresentation{
    // opacity: .5;
    text-align: center;
    color: #fff;
    font-family: $font-family;
    font-size: 2.1vh;
    transform: rotate(-45deg);
   }.parrafoPresentacion{
    width: 57vh;
    height: 57vh;
    margin-top: -60vh;
    margin-left:-7vh;
    margin-right: 5vh;
    padding: 2vh;
    // background: #000;
    transform: rotate(45deg);
  }.hobbies{
    width: 100%;
    margin-left:15vh;
    margin-top: -10vh;
  }

  }

#aboutResponsive{
  width: 100%;
  height: 100vh;

  .franjaUno{
    margin-top:20vh;
    margin-right: 0;
    width: 100%;
    height: 80vh;
    background: #8FC2CE;
    z-index: -1;
    position: absolute;
    transform: skew(0deg,-5deg);
  }#paragraphPresentationMobile{
    width: 95%;
    color:#fff;
    font-family: $font-family;
    font-size: 2.5vh;
    padding:4vh;
    text-align: center;
    opacity: .8;
    background: #3b3b3b;
  }#aboutImageResponsive{
    width: 50vh;
    margin-top: -7vh;
    margin-left: 2vh;
    transform: rotate(3deg);
  }#hobbiesResponsive{
    width: 100%;
    margin-left: 1vh;
    transform: rotate(3deg);

  }
}
#menuResponsive{
  width: 100%;
  height: 100vh;
  #presentationMobile{
    color: #fff;
    font-size: 4.5vh;
    text-align: center;
  }
  .logoResponsive{
    width: 100%;
    margin-top: 16vh;
  }
  .open{
    position: fixed;
    top: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    display: block;
    cursor: pointer;
    transition: opacity 0.2s linear;
    &:hover{
        opacity: 0.8;
    }
    span{
        display: block;
        float: left;
        clear: both;
        height: 4px;
        width: 40px;
        border-radius: 40px;
        background-color: #fff;
        position: absolute;
        right: 3px;
        top: 3px;
        overflow: hidden;
        transition: all 0.4s ease;
        &:nth-child(1){
            margin-top: 10px;
            z-index: 9;
        }
        &:nth-child(2){
            margin-top: 25px;
        }
        &:nth-child(3){
            margin-top: 40px;
        }
    }
}

.sub-menu{
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        height: 0;
        width: 0;
        right: 0;
        top: 0;
        position: absolute;
        background-color: rgba(38, 84, 133, 0.54);
        border-radius: 50%;
        z-index: 18;
        overflow: hidden;
        li{
            display: block;
            float: right;
            clear: both;
            height: auto;
            margin-right: -160px;
            transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            &:first-child{
                margin-top: 180px;
            }
            &:nth-child(1){
                -webkit-transition-delay: 0.05s;
            }
            &:nth-child(2){
                -webkit-transition-delay: 0.10s;
            }
            &:nth-child(3){
                -webkit-transition-delay: 0.15s;
            }
            &:nth-child(4){
                -webkit-transition-delay: 0.20s;
            }
            &:nth-child(5){
                -webkit-transition-delay: 0.25s;
            }
            a{
                color: #fff;
                font-family: 'Lato', Arial, Helvetica, sans-serif;
                font-size: 16px;
                width: 100%;
                display: block;
                float: left;
                line-height: 40px;
            }
        }
    }

    .oppenned{
        .sub-menu{
            opacity: 1;
            height: 400px;
            width: 400px;
            z-index: 1;
        }
        span:nth-child(2){
            overflow: visible;
        }
        span:nth-child(1), span:nth-child(3){
            z-index: 100;
            transform: rotate(45deg);
        }
        span:nth-child(1){
            transform: rotate(45deg) translateY(12px) translateX(12px);
        }
        span:nth-child(2){
            height: 400px;
            width: 400px;
            right: -160px;
            top: -160px;
            border-radius: 50%;
            background-color: rgba(38, 84, 133, 0.54);
        }
        span:nth-child(3){
            transform: rotate(-45deg) translateY(-10px) translateX(10px);
        }
        li{
            margin-right: 168px;
        }
    }
.button{
    display: block;
    float: left;
  clear: both;
    padding: 20px 40px;
    background: #fff;
    border-radius: 3px;
    border: 2px solid #10a1ea;
    overflow: hidden;
    position: relative;
    &:after{
        transition: transform 0.3s ease;
        content: "";
        position: absolute;
        height: 200px;
        width: 400px;
        transform: rotate(45deg) translateX(-540px) translateY(-100px);
        background: #10a1ea;
        z-index: 1;
    }
    &:before{
        transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        content: attr(title);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        z-index: 2;
        text-align: center;
        padding: 20px 40px;
        transform: translateY(200px);
    }
    &:hover{
        text-decoration: none;
        &:after{
            transform: translateX(-300px) translateY(-100px);
        }
        &:before{
            transform: translateY(0);
        }
    }
}
}


#portafolio{
  margin-top: -35vh;
  .franjaDos{
    margin-top:-40vh;
    padding-top: 10vh;
    width: 100%;
    background: #c68d93;
    border-radius: 5px;
    z-index: -1;
    // transform: skew(0deg,-5deg);
  }#portafolioImage{
    width: 78%;
    margin-top: 20vh;
    margin-left: 28vh;
  }#tarjetaTres{
    width: 96.5%;
    margin-top: -26vh;
    margin-left: 2vh;
  }#tarjetaCuatro{
    width: 96.5%;
  }#tituloProyectosWeb{
    margin-left: 12vh;
    margin-top: -10vh;
    color:$white-color;
  }.produccion{
    width: 50%;
    height: 30vh;
    background: $blueOne-color;
    transform: skew(0deg,-45deg);
    float: right;
  }.contenedorFranjas{
    background-image: url(../img/fondoFranjasDos.png);
    background-repeat: no-repeat;
    margin-top: -20vh;
    width:100%;
    height: 130vh;
  }.servicios{
    width:50%;
    margin-top:-10vh;
    background: none;
    border: none;
  }.imagenBoton{
    width:47%;
  }.botonFront{
    margin-top:4vh;
    margin-left:-1.5vh;
  }.botonProduccion{
    margin-top:20vh;
    margin-left: -43vh;
  }.tituloServicios{
    width: 25%;
    margin-left: -5vh;
    margin-top:23vh;
  }
}

#portafolioResponsive{
  width: 100%;
  margin-top: 35vh;
  .contenedorFranjasResponsive{
    background-image: url(../img/fondoFranjasDos.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -7vh;
    width:100%;
    height: 35vh;
  }.imagenBotonResponsive{
    width: 100%;
  }.botonResponsive{
    margin-top: 13vh;
    background: none;
    border:none;
  }.serviciosResponsive{
    width: 40%;
    margin-top: 15vh;
    margin-left: 22vh;
  }.proyectosProgramacion{
    background: #c68d93;
    padding:3vh;
    z-index: -1;
    position: relative;
    .card.small{
      z-index: 0;
      position: relative;
    }
  }.proyectosProduccion{
    background: $pink-color;
    margin-top: 10vh;
    padding:2vh;
  }.camaraResponsive{
    width:103.5%;
  }
}
#produccionAudiovisual{
  background: $pink-color;
  padding:10vh;
  border-radius: 5px;
  margin-right: 32vh;
  .camaraProduccion{
   width: 134%;

  }
}

#skills{
  width: 100%;
  .tituloSkills{
    width:20%;
    margin-top: 10vh;
    margin-left: 68vh;
  }.imagenUnoSkills{
    width: 75%;
    margin-top: 3vh;
    margin-left: 25vh;
   }
}

#skillsResponsive{
  width: 100%;
  margin-top: 10vh;
  .skillsTitle{
    width: 60%;
    margin-left: 12vh;
  }
}

footer{
  background-image: url(../img/fondoFooter.png);
  // background: $blueOne-color;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 0;
  margin-bottom: -10vh;
  margin-top: 10vh;
  width: 100%;
  height: 70vh;
  .linksContacto{
    color:#fff;
  }.textoContacto{
    color:#fff;
    font-family: $font-family;
    margin-top: 10vh;
  }
}
